@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@400;500;600;700&display=swap");
html {
  --container: 1280px;
  --padding-container: 20px;
  --container-width: calc(var(var(--container) + (var(var(--padding-container) * 2))));
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  --hero-color: #6C5FBC;
  --active-color: #11111149;
  --allocated-title: #6C5FBC;
  --popup-list: #a69af5;
  --consumption-line: #FBAD18;
  --primary-color: #6C5FBC;
}

*, *::before, *::after {
  box-sizing: inherit;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
  min-width: 375px;
  min-height: 100%;
  font-family: Poppins, sans-serif;
  background: #F9F9F9;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: calc(var(--container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.green {
  background: rgb(186, 245, 210);
  color: #309D5B;
}

.yellow {
  background: #f7edd0;
  color: #DAA31A;
}

.red {
  background: #f7c5ba;
  color: #FB471D;
}

.allocated--title {
  color: var(--allocated-title);
}

.title {
  font-weight: 600;
  font-size: 45px;
  line-height: 26px;
  color: #323142;
}

.header__container {
  align-items: center;
  justify-content: space-between;
  font-family: Inner, sans-serif;
  font-size: 17px;
  padding-top: 48px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #CBCBCB;
}

.logo {
  align-items: center;
}
.logo__span {
  margin-left: 11px;
  font-size: 21px;
  font-weight: 600;
  line-height: 27px;
  color: #6C5FBC;
}

.naw__list {
  align-items: center;
  margin-left: 100px;
  gap: 53px;
  font-weight: 500;
  line-height: 26px;
  color: #606060;
}
.naw__item:hover {
  color: var(--allocated-title);
}
.naw__item:active {
  color: var(--active-color);
}

.nav__button {
  align-items: center;
  gap: 9px;
}

.nav__link--button {
  padding: 17px 26px;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  border-radius: 17px;
}

.login {
  color: #606060;
  background: #fff;
}

.sign {
  background: rgb(108, 95, 188);
  color: #fff;
}

.hero {
  min-height: 600px;
  margin-top: 30px;
}
.hero__content--description {
  padding-top: 80px;
}
.hero__users {
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  color: rgba(32, 31, 31, 0.2);
  align-items: center;
  gap: 20px;
  margin-bottom: 18px;
}
.hero__title {
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 120%;
  letter-spacing: -3px;
  margin-bottom: 16px;
}
.hero__title--allocated {
  color: var(--hero-color);
}
.hero__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #676767;
  opacity: 0.7;
  margin-bottom: 50px;
}
.hero__btn {
  margin-bottom: 30px;
  align-items: center;
  gap: 18px;
}
.hero .btn {
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}
.hero--started {
  padding: 18px 31px 17px 30px;
  background: #6C5FBC;
  color: #fff;
}
.hero--pro {
  padding: 18px 28px 17px 27px;
  color: #6C5FBC;
  border: 1.5px solid #6C5FBC;
}
.hero--pro:hover {
  background: #6C5FBC;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.container {
  justify-content: space-between;
}

.about {
  margin-top: 85px;
  position: relative;
  background: #5C4EAE;
}
.about svg {
  position: absolute;
  top: 0;
  height: 205px;
}
.about__list {
  justify-content: space-between;
  margin: 0 auto;
  padding: 49px 0 48px 0;
  min-width: 950px;
}
.about__item {
  color: #fff;
}
.about__item--line {
  position: relative;
  flex-grow: 1;
}
.about__item--line::before {
  content: "";
  width: 1px;
  height: 123px;
  position: absolute;
  top: 0;
  left: 50%;
  background: rgb(197, 197, 197);
  opacity: 0.15;
}
.about__title {
  font-weight: 700;
  font-size: 43.2px;
  line-height: 54px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.about__description {
  max-width: 240px;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 22px;
  text-align: center;
  color: #C5BFED;
}

.quality .container {
  max-width: 1260px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #CBCBCB;
}
.quality__left {
  grid-column: 2/4 span;
}
.quality__right {
  margin-top: 95px;
  grid-column: 8/5 span;
}
.quality__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  margin-bottom: 60px;
}
.quality__title--allocated {
  color: #6C5FBC;
}
.quality__list {
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #676767;
  list-style-type: disc;
  margin-bottom: 27px;
}
.quality__download--block {
  max-width: 330px;
  margin-top: 34px;
  position: relative;
}
.quality__download--block .svg {
  position: absolute;
  right: 0;
}
.quality__btn {
  padding: 18px 26px 17px;
  background: #6C5FBC;
  border-radius: 14px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
.quality__btn svg {
  margin-left: 15px;
}

.restaurant {
  margin-top: 100px;
}
.restaurant .container {
  max-width: 1248px;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
}
.restaurant__title {
  text-align: center;
  margin-bottom: 85px;
}
.restaurant__content {
  gap: 30px;
}
.restaurant__skill {
  margin-left: 32px;
}

.card {
  width: 395px;
  padding-bottom: 17px;
  background: #fff;
  border: 1.25095px solid #F4F4F6;
  box-shadow: 5px 71px 35px rgba(229, 229, 229, 0.7);
  border-radius: 30px;
}
.card__img {
  box-shadow: 5.94564px 71.3477px 35.6738px rgba(50, 49, 66, 0.04);
}
.card__skill {
  padding: 3px 8px 2px;
  font-weight: 400;
  font-size: 12.7757px;
  line-height: 19px;
  border-radius: 5px;
}
.card__bottom {
  padding: 0 26px 0 34px;
}
.card__name {
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  color: #323142;
  grid-column: 1/11;
}
.card__characteristic {
  align-items: center;
  grid-column: 1/7;
}
.card__time {
  margin-right: 6px;
}
.card__rating {
  align-items: center;
}
.card__rating svg {
  margin-right: 6px;
}
.card__favorites {
  width: 40px;
  height: 40px;
  background: #DBD9EE;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  grid-column: 13;
}
.card__favorites:hover {
  background: #c7c4f0;
  transition: all 0.3s ease-in-out;
}

.view--all {
  width: 115.9px;
  margin-left: auto;
  margin-top: 65px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.1px;
  color: #ACADB9;
}
.view--all svg {
  margin-left: 20px;
}

.dishes {
  margin-top: 100px;
}
.dishes .container {
  max-width: 1240px;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
}
.dishes__title {
  text-align: center;
  margin-bottom: 75px;
}
.dishes__content {
  gap: 30px;
}
.dishes__card {
  padding: 26px 17px 29px 5px;
  background: #FFFFFF;
  border: 1px solid #F4F4F6;
  box-shadow: 6px 82px 41px rgba(229, 229, 229, 0.7);
  border-radius: 34px;
  position: relative;
}
.dishes__card--bottom {
  padding: 0 10px 0 18px;
}
.dishes__add--favorites {
  position: absolute;
  right: 17px;
}
.dishes__name {
  font-weight: 600;
  font-size: 23px;
  line-height: 37px;
  color: #323142;
}
.dishes__card--characteristic {
  font-weight: 400;
  font-size: 17.2907px;
  line-height: 23px;
  color: #8E97A6;
  margin-bottom: 10px;
}
.dishes__card--add {
  align-items: center;
  justify-content: space-between;
}
.dishes__add {
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 39px;
  background: #323142;
  border-radius: 8px;
}

.price {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 25.936px;
  line-height: 40px;
  color: #323142;
}
.price span {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18.8058px;
  line-height: 40px;
  color: #8E97A6;
}

.purchases {
  margin-top: 100px;
}
.purchases .container {
  padding-bottom: 134px;
  border-bottom: 1px solid #CBCBCB;
}
.purchases__left {
  grid-column: 5 span;
}
.purchases__title {
  font-size: 50px;
  line-height: 58px;
  color: #18181B;
}
.purchases__card {
  margin-top: 48px;
  max-width: 345px;
}
.purchases__card--look {
  padding: 4px 17px;
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(70, 70, 70, 0.1);
  border-radius: 12px;
  margin-bottom: 15px;
  align-items: center;
}
.purchases__card--time {
  font-weight: 500;
  font-size: 13.0442px;
  line-height: 140%;
  color: #ACADB9;
  margin-left: 42px;
  margin-top: auto;
}
.purchases__right {
  grid-column: 8/10 span;
}
.purchases__expenses {
  min-width: 534px;
  background: #FFFFFF;
  border: 1px solid #EDF2F7;
  border-radius: 25px;
}
.purchases__expenses--inner {
  padding: 45px 37px;
}
.purchases__expenses--header {
  font-family: "Manrope";
  justify-content: space-between;
  align-items: center;
}
.purchases__expenses--card {
  border: 1px solid #EDF2F7;
  border-radius: 18px;
  margin-bottom: 21px;
  padding: 25px;
}
.purchases__expenses--card__top {
  justify-content: space-between;
}
.purchases__expenses--description {
  margin-left: 18px;
  grid-column: 2/12;
  font-family: "Manrope";
}
.purchases__expenses--card__bottom {
  margin-top: 20px;
}
.purchases__expenses--consumption {
  width: 100%;
  height: 10px;
  border-radius: 78px;
}
.purchases__purple--line {
  background: rgba(107, 95, 188, 0.2196078431);
  position: relative;
}
.purchases__purple--line::before {
  content: "";
  width: 95%;
  height: 10px;
  background: #6C5FBC;
  border-radius: 78px;
  position: absolute;
}
.purchases__yellow--line {
  background: rgba(251, 172, 24, 0.2039215686);
  position: relative;
}
.purchases__yellow--line::before {
  content: "";
  width: 55%;
  height: 10px;
  background: #fbac18;
  border-radius: 78px;
  position: absolute;
}

.card__description {
  margin-left: 19px;
}
.card__description--title {
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #323142;
}
.card__description--action {
  font-weight: 500;
  font-size: 12.0408px;
  line-height: 140%;
  color: #323142;
}

.expenses__header {
  margin-bottom: 37px;
  position: relative;
}
.expenses__header--title {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 28px;
  line-height: 135%;
  color: #1A202C;
}
.expenses__header--month__selection {
  padding: 12px 18px;
  background: #FAFAFA;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18.8471px;
  line-height: 150%;
  color: #1A202C;
  align-items: center;
  cursor: pointer;
}
.expenses__header--month__selection svg {
  margin-left: 6px;
}
.expenses__header--month__list {
  font-family: "Manrope";
  margin-top: 215px;
  background: #FAFAFA;
  border-radius: 10px;
  position: absolute;
  right: 0;
  padding: 12px 0;
  font-size: 16px;
  z-index: 99;
  display: none;
}
.expenses__header--month__list li:hover {
  background: var(--popup-list);
  color: #fff;
}
.expenses__header--month__title {
  padding: 5px 40px;
  cursor: pointer;
}
.expenses__top--title {
  font-weight: 800;
  font-size: 18.8471px;
  line-height: 150%;
  color: #1A202C;
}
.expenses__top--increased {
  font-weight: 500;
  font-size: 15.7059px;
  line-height: 150%;
  color: #A0AEC0;
}
.expenses__price {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 21px;
  line-height: 150%;
  color: #1A202C;
}

.active {
  color: #fff;
  background: var(--allocated-title);
  font-weight: 700;
}

.card__logo {
  align-items: center;
}

.card--red {
  color: #F1534E;
}

.reviews {
  margin-top: 116px;
}
.reviews__title {
  text-align: center;
}
.reviews__card {
  max-width: 528px;
  background: #fff;
  border-radius: 20px;
}
.reviews__card--inner {
  padding: 38px 43px;
}
.reviews__card--header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.reviews__card--text {
  font-size: 18px;
  font-style: italic;
  line-height: 26px;
  color: #636363;
  margin-bottom: 32px;
}
.reviews__user-profile {
  align-items: center;
}

.user__description {
  margin-left: 20px;
}
.user__name {
  color: #030314;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
}
.user__with--us {
  color: #5E5D5D;
  font-size: 16px;
  font-family: Quicksand;
  font-weight: 500;
  line-height: 26px;
}

.swiper {
  margin-top: 80px;
  height: 400px;
}

.subscribe {
  margin-top: 182px;
}
.subscribe__block {
  height: 280px;
  margin: 0 auto;
  padding: 46px 51px 0px 46px;
  border-radius: 30px;
  background: var(--primary-color);
  background-image: url(/img/subscribe_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.subscribe__sub--title {
  grid-column: 1/5;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  text-align: start;
}
.subscribe__img {
  grid-column: 9/12;
}
.subscribe__input {
  position: relative;
  grid-column: 1/6;
}
.subscribe__input input {
  padding: 21px 200px 22px 21px;
  border-radius: 10.122px;
  background: #FFF;
  box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  color: #878787;
  font-size: 16px;
  text-transform: capitalize;
}
.subscribe__input--btn {
  padding: 15px 23px 16px 25px;
  border-radius: 8.002px;
  background: #6C5FBC;
  color: #F7F8FA;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 7px;
  right: 84px;
}/*# sourceMappingURL=index.css.map */