@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@400;500;600;700&display=swap");
html {
  --container: 1280px;
  --padding-container: 20px;
  --container-width: calc(var(var(--container) + (var(var(--padding-container) * 2))));
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  --hero-color: #6C5FBC;
  --active-color: #11111149;
  --allocated-title: #6C5FBC;
  --popup-list: #a69af5;
  --consumption-line: #FBAD18;
  --primary-color: #6C5FBC;
  --hero-bonus: #6155AE;
}

*, *::before, *::after {
  box-sizing: inherit;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
  min-width: 350px;
  min-height: 100%;
  font-family: Poppins, sans-serif;
  background: #F9F9F9;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: calc(var(--container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.green {
  background: rgb(186, 245, 210);
  color: #309D5B;
}

.yellow {
  background: #f7edd0;
  color: #DAA31A;
}

.red {
  background: #f7c5ba;
  color: #FB471D;
}

.allocated--title {
  color: var(--allocated-title);
}

.title {
  font-weight: 600;
  font-size: 45px;
  line-height: 26px;
  color: #323142;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
  display: none;
  height: 22px;
  color: #282828;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 760px) {
  .burger {
    display: block;
  }
}

.header {
  padding: 0 20px;
}
.header__container {
  align-items: center;
  justify-content: space-between;
  font-family: Inner, sans-serif;
  font-size: 17px;
  padding-top: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #CBCBCB;
}
@media (max-width: 1440px) {
  .header__container {
    font-size: 14px;
    padding-top: 34px;
    padding-bottom: 17px;
  }
}

.logo {
  align-items: center;
}
.logo__span {
  margin-left: 11px;
  font-size: 21px;
  font-weight: 600;
  line-height: 27px;
  color: #6C5FBC;
}
@media (max-width: 1440px) {
  .logo__span {
    font-size: 15px;
  }
}

.nav__list {
  align-items: center;
  margin-left: 100px;
  gap: 53px;
  font-weight: 500;
  line-height: 26px;
  color: #606060;
}
@media (max-width: 760px) {
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 760px) {
  .nav__list {
    font-size: 16px;
  }
}
.nav__item:hover {
  color: var(--allocated-title);
}
.nav__item:active {
  color: var(--active-color);
}
@media (max-width: 760px) {
  .nav__list--header {
    margin: 0;
    padding: 90px 32px;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #5C4EAE;
    color: #fff;
    overflow-y: auto;
    z-index: 99;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}
.nav__menu--active .menu--active {
  visibility: visible;
  transform: none;
}

.nav__button {
  align-items: center;
  gap: 9px;
}
@media (max-width: 760px) {
  .nav__button {
    display: none;
  }
}

.nav__link--button {
  padding: 17px 26px;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  border-radius: 17px;
}
@media (max-width: 1440px) {
  .nav__link--button {
    font-size: 12px;
    padding: 12px 19px;
    border-radius: 12px;
  }
}
@media (max-width: 1025px) {
  .nav__link--button {
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 12px;
  }
}

.login {
  color: #606060;
  background: #fff;
}

.sign {
  background: rgb(108, 95, 188);
  color: #fff;
}

.hero {
  min-height: 600px;
  margin-top: 30px;
}
@media (max-width: 1025px) {
  .hero {
    margin-top: 10px;
  }
}
@media (max-width: 1440px) {
  .hero__img {
    width: 680px;
  }
}
@media (max-width: 1025px) {
  .hero__img {
    width: 500px;
  }
}
@media (max-width: 760px) {
  .hero__img {
    width: 350px;
  }
}
.hero__content {
  justify-content: space-between;
}
@media (max-width: 576px) {
  .hero__content {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.hero__content--description {
  padding-top: 80px;
}
@media (max-width: 1440px) {
  .hero__content--description {
    max-width: 400px;
  }
}
.hero__users {
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  color: rgba(32, 31, 31, 0.2);
  align-items: center;
  gap: 20px;
  margin-bottom: 18px;
}
@media (max-width: 1440px) {
  .hero__users {
    font-size: 10px;
    margin-bottom: 12px;
  }
}
@media (max-width: 576px) {
  .hero__users {
    justify-content: center;
    color: #201F1F;
  }
}
.hero__title {
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 120%;
  letter-spacing: -3px;
  margin-bottom: 16px;
}
.hero__title--allocated {
  color: var(--hero-color);
}
@media (max-width: 1440px) {
  .hero__title {
    font-size: 53px;
    margin-bottom: 11px;
  }
}
@media (max-width: 965px) {
  .hero__title {
    font-size: 50px;
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 44px;
    text-align: center;
    margin-bottom: 15px;
  }
}
.hero__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #676767;
  opacity: 0.7;
  margin-bottom: 50px;
}
.hero__description--bonus {
  color: var(--hero-color);
}
@media (max-width: 1440px) {
  .hero__description {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 37px;
  }
}
@media (max-width: 965px) {
  .hero__description {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .hero__description {
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 40px;
  }
}
.hero__btn {
  margin-bottom: 30px;
  align-items: center;
  gap: 18px;
}
@media (max-width: 576px) {
  .hero__btn {
    justify-content: center;
    margin-bottom: 26px;
  }
}
@media (max-width: 576px) {
  .hero__reviews {
    text-align: center;
    margin-bottom: 60px;
  }
}
.hero .btn {
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}
@media (max-width: 1440px) {
  .hero .btn {
    font-size: 11px;
    margin-bottom: 23px;
  }
}
.hero--started {
  padding: 18px 31px 17px 30px;
  background: #6C5FBC;
  color: #fff;
}
@media (max-width: 1440px) {
  .hero--started {
    padding: 12px 21px;
  }
}
@media (max-width: 576px) {
  .hero--started {
    padding: 14px 24px 12px;
  }
}
.hero--pro {
  padding: 18px 28px 17px 27px;
  color: #6C5FBC;
  border: 1.5px solid #6C5FBC;
}
.hero--pro:hover {
  background: #6C5FBC;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1440px) {
  .hero--pro {
    padding: 12px 19px;
  }
}
@media (max-width: 576px) {
  .hero--pro {
    padding: 14px 22px 12px 21px;
  }
}

.container {
  justify-content: space-between;
}

.about {
  max-width: 100%;
  margin-top: 85px;
  position: relative;
  background: #5C4EAE;
}
.about svg {
  position: absolute;
  height: 160px;
}
@media (max-width: 760px) {
  .about svg {
    display: none;
  }
}
.about__list {
  justify-content: space-between;
  margin: 0 auto;
  padding: 49px 0 48px 0;
  max-width: 950px;
}
@media (max-width: 1440px) {
  .about__list {
    max-width: 669px;
    padding: 34px 0;
  }
}
@media (max-width: 576px) {
  .about__list {
    flex-direction: column;
    padding: 72px 0 89px;
  }
}
.about__item {
  width: 260px;
  color: #fff;
}
.about__item--line {
  position: relative;
  flex-grow: 1;
}
.about__item--line::before {
  content: "";
  width: 1px;
  height: 123px;
  position: absolute;
  top: 0;
  left: 50%;
  background: rgb(197, 197, 197);
  opacity: 0.15;
}
@media (max-width: 576px) {
  .about__item--line::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(197, 197, 197);
    opacity: 0.15;
  }
}
@media (max-width: 760px) {
  .about__item {
    width: 160px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .about__item {
    margin-bottom: 30px;
  }
}
.about__title {
  font-weight: 700;
  font-size: 43px;
  line-height: 54px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  .about__title {
    font-size: 30px;
    margin-bottom: 7px;
  }
}
.about__description {
  width: 263px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #C5BFED;
}
@media (max-width: 1440px) {
  .about__description {
    font-size: 10px;
    line-height: 15px;
    max-width: 160px;
  }
}

.dishes {
  margin-top: 100px;
}
@media (max-width: 1440px) {
  .dishes {
    margin-top: 72px;
  }
}
.dishes .container {
  max-width: 1240px;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
}
@media (max-width: 1440px) {
  .dishes .container {
    padding-bottom: 85px;
  }
}
@media (max-width: 576px) {
  .dishes__add-favorites {
    width: 14px;
    height: 11px;
  }
}
@media (max-width: 1440px) {
  .dishes__skill {
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  .dishes__skill {
    font-size: 7px;
  }
}
.dishes__title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 75px;
}
@media (max-width: 1440px) {
  .dishes__title {
    font-size: 32px;
    line-height: 18px;
    margin-bottom: 53px;
  }
}
.dishes__content {
  gap: 30px;
}
@media (max-width: 965px) {
  .dishes__content {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.dishes__time {
  margin-right: 6px;
}
@media (max-width: 576px) {
  .dishes__time {
    margin-right: 0px;
  }
}
.dishes__card {
  padding: 26px 17px 29px 5px;
  background: #FFFFFF;
  border: 1px solid #F4F4F6;
  box-shadow: 6px 82px 41px rgba(229, 229, 229, 0.7);
  border-radius: 34px;
  position: relative;
}
.dishes__card--bottom {
  padding: 0 10px 0 18px;
}
@media (max-width: 1440px) {
  .dishes__card--bottom {
    padding: 0 19px 0 16px;
  }
}
@media (max-width: 965px) {
  .dishes__card--extra {
    display: none;
  }
}
@media (max-width: 965px) {
  .dishes__card {
    width: 160px;
  }
}
@media (max-width: 576px) {
  .dishes__card {
    width: 150px;
    padding: 27px 11px 19px 3px;
  }
}
.dishes__add--favorites {
  position: absolute;
  right: 17px;
}
.dishes__name {
  font-weight: 600;
  font-size: 23px;
  line-height: 37px;
  color: #323142;
}
@media (max-width: 1440px) {
  .dishes__name {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 576px) {
  .dishes__name {
    font-size: 14px;
    line-height: 23px;
  }
}
.dishes__card--characteristic {
  align-items: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #8E97A6;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  .dishes__card--characteristic {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 9px;
  }
}
@media (max-width: 576px) {
  .dishes__card--characteristic {
    font-size: 11px;
    line-height: 15px;
  }
}
.dishes__card--add {
  align-items: center;
  justify-content: space-between;
}
.dishes__add {
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 39px;
  background: #323142;
  border-radius: 8px;
}
@media (max-width: 1440px) {
  .dishes__add {
    width: 39px;
    height: 35px;
  }
}
@media (max-width: 576px) {
  .dishes__add {
    width: 34px;
    height: 30px;
  }
}

.price {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #323142;
}
.price span {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #8E97A6;
}
@media (max-width: 1440px) {
  .price span {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .price span {
    font-size: 12px;
  }
}
@media (max-width: 1440px) {
  .price {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .price {
    font-size: 16px;
    list-style: 26px;
  }
}

.footer {
  margin-top: 154px;
  padding: 96px 0 81px;
  background: #EAEAEA;
}
@media (max-width: 1440px) {
  .footer {
    padding: 68px 0 57px;
    font-size: 14px;
  }
}
@media (max-width: 1025px) {
  .footer {
    padding: 50px 0 30px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .footer {
    margin-top: 200px;
  }
}
@media (max-width: 576px) {
  .footer__container {
    padding: 0px 30px;
  }
}
.footer__top {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 29px;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 1440px) {
  .footer__top {
    padding-bottom: 20px;
  }
}
@media (max-width: 1025px) {
  .footer__top {
    padding-bottom: 15px;
  }
}
@media (max-width: 760px) {
  .footer__top {
    align-items: start;
  }
}
.footer__social--media--top {
  display: none;
}
@media (max-width: 760px) {
  .footer__social--media--top {
    display: flex;
    gap: 20px;
    align-items: center;
    grid-column: 12;
  }
}
.footer__nav {
  grid-column: 12;
}
@media (max-width: 760px) {
  .footer__nav {
    margin-top: 50px;
    grid-column: 1/12 span;
    margin-bottom: 15px;
  }
}
@media (max-width: 760px) {
  .footer__nav--list {
    flex-direction: column;
    margin: 0;
    gap: 20px;
  }
}
.footer__bottom {
  margin-top: 57px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1440px) {
  .footer__bottom {
    margin-top: 40px;
  }
}
@media (max-width: 1025px) {
  .footer__bottom {
    margin-top: 35px;
  }
}
@media (max-width: 576px) {
  .footer__bottom {
    margin-top: 26px;
    justify-content: center;
  }
}
.footer__social--media--bottom {
  align-items: center;
  gap: 53px;
}
@media (max-width: 576px) {
  .footer__social--media--bottom {
    display: none;
  }
}

.purchases {
  margin-top: 100px;
}
@media (max-width: 1440px) {
  .purchases {
    margin-top: 72px;
  }
}
.purchases .container {
  padding-bottom: 134px;
  border-bottom: 1px solid #CBCBCB;
}
@media (max-width: 1440px) {
  .purchases .container {
    padding-bottom: 95px;
  }
}
@media (max-width: 576px) {
  .purchases .container {
    justify-content: center;
  }
}
.purchases__left {
  grid-column: 5 span;
}
@media (max-width: 576px) {
  .purchases__left {
    grid-column: 1/12 span;
  }
}
.purchases__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  color: #18181B;
  text-transform: capitalize;
}
@media (max-width: 1440px) {
  .purchases__title {
    font-size: 36px;
    line-height: 41px;
  }
}
@media (max-width: 760px) {
  .purchases__title {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .purchases__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }
}
.purchases__card {
  margin-top: 48px;
  max-width: 345px;
}
.purchases__card--look {
  padding: 4px 17px;
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(70, 70, 70, 0.1);
  border-radius: 12px;
  margin-bottom: 15px;
  align-items: center;
}
@media (max-width: 1025px) {
  .purchases__card--look {
    margin-bottom: 10px;
  }
}
@media (max-width: 1440px) {
  .purchases__card {
    margin-top: 34px;
  }
}
@media (max-width: 1025px) {
  .purchases__card {
    width: 310px;
    margin-top: 20px;
  }
}
.purchases__card--time {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #ACADB9;
  margin-left: 27px;
  margin-top: auto;
}
@media (max-width: 1025px) {
  .purchases__card--time {
    font-size: 10px;
  }
}
.purchases__right {
  grid-column: 8/10 span;
}
@media (max-width: 1025px) {
  .purchases__right {
    grid-column: 8/12 span;
  }
}
@media (max-width: 965px) {
  .purchases__right {
    grid-column: 7/10 span;
  }
}
@media (max-width: 760px) {
  .purchases__right {
    grid-column: 3/8 span;
  }
}
@media (max-width: 576px) {
  .purchases__right {
    margin-top: 50px;
    grid-column: 1/12 span;
  }
}
.purchases__expenses {
  max-width: 534px;
  min-width: 316px;
  background: #FFFFFF;
  border: 1px solid #EDF2F7;
  border-radius: 25px;
}
.purchases__expenses--inner {
  padding: 45px 37px;
}
@media (max-width: 1440px) {
  .purchases__expenses--inner {
    padding: 32px 26px;
  }
}
@media (max-width: 576px) {
  .purchases__expenses--inner {
    padding: 26px 22px;
  }
}
.purchases__expenses--header {
  font-family: "Manrope";
  justify-content: space-between;
  align-items: center;
}
.purchases__expenses--card {
  border: 1px solid #EDF2F7;
  border-radius: 18px;
  margin-bottom: 21px;
  padding: 25px;
}
.purchases__expenses--card__top {
  justify-content: space-between;
}
@media (max-width: 1025px) {
  .purchases__expenses--card {
    padding: 15px;
  }
}
@media (max-width: 576px) {
  .purchases__expenses--card {
    padding: 14px;
  }
}
.purchases__expenses--description {
  margin-left: 18px;
  grid-column: 2/12;
  font-family: "Manrope";
}
@media (max-width: 576px) {
  .purchases__expenses--description {
    margin-left: 11px;
  }
}
.purchases__expenses--card__bottom {
  margin-top: 20px;
}
@media (max-width: 576px) {
  .purchases__expenses--card__bottom {
    margin-top: 12px;
  }
}
.purchases__expenses--consumption {
  width: 100%;
  height: 10px;
  border-radius: 78px;
}
.purchases__purple--line {
  background: rgba(107, 95, 188, 0.2196078431);
  position: relative;
}
.purchases__purple--line::before {
  content: "";
  width: 95%;
  height: 100%;
  background: #6C5FBC;
  border-radius: 78px;
  position: absolute;
}
@media (max-width: 576px) {
  .purchases__purple--line {
    height: 5px;
  }
}
.purchases__yellow--line {
  background: rgba(251, 172, 24, 0.2039215686);
  position: relative;
}
.purchases__yellow--line::before {
  content: "";
  width: 55%;
  height: 100%;
  background: #fbac18;
  border-radius: 78px;
  position: absolute;
}
@media (max-width: 576px) {
  .purchases__yellow--line {
    height: 5px;
  }
}

.card__description {
  margin-left: 19px;
}
.card__description--title {
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #323142;
}
@media (max-width: 1025px) {
  .card__description--title {
    font-size: 16px;
  }
}
.card__description--action {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #323142;
}
@media (max-width: 1025px) {
  .card__description--action {
    font-size: 11px;
  }
}

.expenses__header {
  margin-bottom: 37px;
  position: relative;
}
.expenses__header--title {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 28px;
  line-height: 135%;
  color: #1A202C;
}
@media (max-width: 1440px) {
  .expenses__header--title {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .expenses__header--title {
    font-size: 16px;
  }
}
.expenses__header--month__selection {
  padding: 12px 18px;
  background: #FAFAFA;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #1A202C;
  align-items: center;
  cursor: pointer;
}
.expenses__header--month__selection svg {
  margin-left: 6px;
}
@media (max-width: 1440px) {
  .expenses__header--month__selection {
    padding: 8px 13px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .expenses__header--month__selection {
    padding: 7px 10px;
    font-size: 12px;
  }
}
.expenses__header--month__list {
  font-family: "Manrope";
  margin-top: 215px;
  background: #FAFAFA;
  border-radius: 10px;
  position: absolute;
  right: 0;
  padding: 12px 0;
  font-size: 16px;
  z-index: 99;
}
.expenses__header--month__list li:hover {
  background: var(--popup-list);
  color: #fff;
}
@media (max-width: 576px) {
  .expenses__header--month__list {
    margin-top: 170px;
    font-size: 12px;
  }
}
.expenses__header--month__title {
  padding: 5px 40px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .expenses__header--month__title {
    padding: 3px 25px;
  }
}
.expenses__top--title {
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  color: #1A202C;
}
@media (max-width: 1440px) {
  .expenses__top--title {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .expenses__top--title {
    font-size: 12px;
  }
}
.expenses__top--increased {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #A0AEC0;
}
@media (max-width: 1440px) {
  .expenses__top--increased {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .expenses__top--increased {
    font-size: 9px;
  }
}
.expenses__price {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 21px;
  line-height: 150%;
  color: #1A202C;
}
@media (max-width: 1440px) {
  .expenses__price {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .expenses__price {
    font-size: 14px;
  }
}

.popup__list {
  display: none;
}

.active {
  color: #fff;
  background: var(--allocated-title);
  font-weight: 700;
}

.card__logo {
  align-items: center;
}

.card--red {
  color: #F1534E;
}

.quality .container {
  max-width: 1260px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #CBCBCB;
}
.quality__left {
  grid-column: 2/4 span;
}
@media (max-width: 576px) {
  .quality__left {
    grid-column: 4/7 span;
    grid-row: 2;
    margin-top: 102px;
  }
}
.quality__right {
  margin-top: 95px;
  grid-column: 8/5 span;
}
@media (max-width: 1440px) {
  .quality__right {
    grid-column: 9/4 span;
  }
}
@media (max-width: 965px) {
  .quality__right {
    margin-top: 60px;
    grid-column: 8/8 span;
  }
}
@media (max-width: 760px) {
  .quality__right {
    grid-column: 8/8 span;
  }
}
@media (max-width: 576px) {
  .quality__right {
    margin-top: 0;
    grid-column: 2/12 span;
  }
}
.quality__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  margin-bottom: 60px;
}
.quality__title--allocated {
  color: #6C5FBC;
}
@media (max-width: 1440px) {
  .quality__title {
    font-size: 36px;
    margin-bottom: 45px;
    line-height: 41px;
  }
}
@media (max-width: 965px) {
  .quality__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
  }
}
@media (max-width: 760px) {
  .quality__title {
    font-size: 28px;
    list-style: 28px;
  }
}
@media (max-width: 576px) {
  .quality__title {
    font-size: 30px;
    text-align: center;
    line-height: 34px;
    margin-bottom: 37px;
  }
}
.quality__list {
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #676767;
  list-style-type: disc;
  margin-bottom: 27px;
}
@media (max-width: 1440px) {
  .quality__list {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 19px;
  }
}
@media (max-width: 965px) {
  .quality__list {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .quality__list {
    font-size: 11px;
    line-height: 17px;
  }
}
.quality__download--block {
  max-width: 330px;
  margin-top: 34px;
  position: relative;
}
.quality__download--block .svg {
  position: absolute;
  right: 0;
}
@media (max-width: 1440px) {
  .quality__download--block .svg {
    top: 40px;
    right: 45px;
  }
}
@media (max-width: 965px) {
  .quality__download--block .svg {
    top: 50px;
    right: 0px;
  }
}
@media (max-width: 576px) {
  .quality__download--block .svg {
    width: 150px;
    height: 56px;
    top: 85px;
    left: 0;
    transform: rotate(100deg);
    z-index: -1;
  }
}
@media (max-width: 576px) {
  .quality__download--block {
    display: flex;
    justify-content: center;
  }
}
.quality__btn {
  padding: 18px 26px 17px;
  background: #6C5FBC;
  border-radius: 14px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
.quality__btn svg {
  margin-left: 15px;
}
@media (max-width: 1440px) {
  .quality__btn svg {
    margin-right: 10px;
  }
}
@media (max-width: 1440px) {
  .quality__btn {
    padding: 14px 18px 13px;
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 965px) {
  .quality__btn {
    padding: 12px 16px 11px;
  }
}

.restaurant {
  margin-top: 100px;
}
@media (max-width: 1440px) {
  .restaurant {
    margin-top: 72px;
  }
}
.restaurant .container {
  max-width: 1248px;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
}
@media (max-width: 1440px) {
  .restaurant .container {
    padding-bottom: 85px;
  }
}
.restaurant__content {
  justify-content: center;
}
.restaurant__title {
  text-align: center;
  margin-bottom: 85px;
}
@media (max-width: 1440px) {
  .restaurant__title {
    font-size: 32px;
    line-height: 18px;
    margin-bottom: 60px;
  }
}
.restaurant__content {
  gap: 30px;
}
@media (max-width: 965px) {
  .restaurant__content {
    flex-wrap: wrap;
  }
}
.restaurant__skill {
  margin-left: 32px;
}
@media (max-width: 1440px) {
  .restaurant__skill {
    margin-left: 23px;
  }
}
.restaurant__time {
  margin-right: 6px;
}
@media (max-width: 1025px) {
  .restaurant__time {
    font-size: 15px;
    line-height: 20px;
  }
}

.card {
  width: 395px;
  padding-bottom: 17px;
  background: #fff;
  border: 1px solid #F4F4F6;
  box-shadow: 5px 71px 35px rgba(229, 229, 229, 0.7);
  border-radius: 30px;
}
@media (max-width: 1440px) {
  .card {
    padding-bottom: 12px;
  }
}
.card__img {
  box-shadow: 5px 71px 35px rgba(50, 49, 66, 0.04);
}
.card__skill {
  padding: 3px 8px 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  border-radius: 5px;
}
@media (max-width: 1440px) {
  .card__skill {
    padding: 2px 6px;
    font-size: 10px;
  }
}
.card__bottom {
  padding: 0 26px 0 34px;
}
@media (max-width: 1440px) {
  .card__bottom {
    padding: 0 19px 0 24px;
  }
}
.card__name {
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  color: #323142;
  grid-column: 1/11;
}
@media (max-width: 1440px) {
  .card__name {
    font-size: 18px;
    line-height: 29px;
  }
}
.card__characteristic {
  align-items: center;
  grid-column: 1/7;
  color: #8E97A6;
}
@media (max-width: 1440px) {
  .card__characteristic {
    font-size: 13px;
    line-height: 18px;
  }
}
.card__rating {
  align-items: center;
}
.card__rating svg {
  margin-right: 6px;
}
@media (max-width: 576px) {
  .card__rating svg {
    margin-right: 3px;
  }
}
.card__favorites {
  width: 40px;
  height: 40px;
  background: #DBD9EE;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  grid-column: 13;
}
.card__favorites:hover {
  background: #c7c4f0;
  transition: all 0.3s ease-in-out;
}

.view--all {
  width: 115.9px;
  margin-left: auto;
  margin-top: 65px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.1px;
  color: #ACADB9;
}
.view--all svg {
  margin-left: 20px;
}
@media (max-width: 1440px) {
  .view--all {
    margin-top: 50px;
    font-size: 16px;
    line-height: 32px;
  }
}

.reviews {
  margin-top: 116px;
}
@media (max-width: 1440px) {
  .reviews {
    margin-top: 82px;
  }
}
.reviews__title {
  text-align: center;
}
@media (max-width: 1440px) {
  .reviews__title {
    font-size: 32px;
    line-height: 18px;
  }
}
.reviews__card {
  max-width: 500px;
  min-width: 330px;
  background: #fff;
  border-radius: 20px;
}
.reviews__card--inner {
  padding: 38px 43px;
}
@media (max-width: 1025px) {
  .reviews__card--inner {
    padding: 30px 33px;
  }
}
.reviews__card--header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 1025px) {
  .reviews__card--header {
    margin-bottom: 20px;
  }
}
.reviews__card--text {
  font-size: 18px;
  font-style: italic;
  line-height: 26px;
  color: #636363;
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .reviews__card--text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
  }
}
@media (max-width: 1025px) {
  .reviews__card--text {
    font-size: 12px;
    margin-bottom: 22px;
  }
}
@media (max-width: 965px) {
  .reviews__card--text {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 18px;
  }
}
.reviews__user-profile {
  align-items: center;
}

.user__description {
  margin-left: 20px;
}
.user__name {
  color: #030314;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
}
@media (max-width: 1440px) {
  .user__name {
    font-size: 18px;
  }
}
@media (max-width: 1025px) {
  .user__name {
    font-size: 14px;
    line-height: 20px;
  }
}
.user__with--us {
  color: #5E5D5D;
  font-size: 16px;
  font-family: Quicksand;
  font-weight: 500;
  line-height: 26px;
}
@media (max-width: 1440px) {
  .user__with--us {
    font-size: 15px;
  }
}
@media (max-width: 1025px) {
  .user__with--us {
    font-size: 12px;
    line-height: 16px;
  }
}

.swiper {
  margin-top: 80px;
  height: 400px;
}
@media (max-width: 1440px) {
  .swiper {
    margin-top: 56px;
  }
}

.subscribe {
  margin-top: 182px;
}
@media (max-width: 1440px) {
  .subscribe {
    margin: 150px;
  }
}
@media (max-width: 576px) {
  .subscribe {
    margin: 0;
  }
}
.subscribe__block {
  min-width: 315px;
  height: 280px;
  margin: 0 auto;
  padding: 46px 51px 0px 46px;
  border-radius: 30px;
  background: var(--primary-color);
  background-image: url(/img/subscribe_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1440px) {
  .subscribe__block {
    height: 240px;
    padding: 26px 51px 0 46px;
  }
}
@media (max-width: 1025px) {
  .subscribe__block {
    height: 200px;
    padding: 24px 40px 0 40px;
  }
}
@media (max-width: 576px) {
  .subscribe__block {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.subscribe__sub--title {
  grid-column: 1/7;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  text-align: start;
}
@media (max-width: 1440px) {
  .subscribe__sub--title {
    font-size: 55px;
  }
}
@media (max-width: 1025px) {
  .subscribe__sub--title {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .subscribe__sub--title {
    font-size: 41px;
    text-align: center;
    margin-bottom: 15px;
  }
}
.subscribe__input {
  position: relative;
}
.subscribe__input input {
  padding: 21px 200px 22px 21px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  color: #878787;
  font-size: 16px;
  text-transform: capitalize;
}
@media (max-width: 1440px) {
  .subscribe__input input {
    padding: 18px 170px 18px 18px;
    font-size: 15px;
  }
}
@media (max-width: 1025px) {
  .subscribe__input input {
    padding: 16px 165px 16px 16px;
    font-size: 12px;
  }
}
@media (max-width: 965px) {
  .subscribe__input input {
    padding: 16px 150px 15px 14px;
  }
}
.subscribe__input--btn {
  padding: 15px 23px 16px 25px;
  border-radius: 8.002px;
  background: #6C5FBC;
  color: #F7F8FA;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 7px;
  right: 6px;
}
@media (max-width: 1440px) {
  .subscribe__input--btn {
    top: 3px;
    right: 5px;
    font-size: 14px;
  }
}
@media (max-width: 1025px) {
  .subscribe__input--btn {
    top: 4px;
    right: 5px;
    font-size: 12px;
    border-radius: 7px;
    padding: 12px 15px;
  }
}
@media (max-width: 965px) {
  .subscribe__input--btn {
    padding: 12px 15px 12px 16px;
    font-size: 10px;
    top: 5px;
  }
}
.subscribe__img {
  width: 194px;
  height: 196px;
  margin-top: 110px;
}
@media (max-width: 1025px) {
  .subscribe__img {
    margin-top: 70px;
  }
}
@media (max-width: 576px) {
  .subscribe__img {
    margin: 15px;
  }
}/*# sourceMappingURL=main.css.map */