@mixin for-desktop {
    @media (max-width: (1025px)) {
        @content;
    }
}  
  
  @mixin big-desktop {
    @media (max-width: (1440px)) {
        @content;
    }
}
  
@mixin tablet {
    @media (max-width: (965px)) {
        @content;
    }
}
  
@mixin small-tablet {
    @media (max-width: (760px)) {
        @content;
    }
}
  
@mixin mobile {
    @media (max-width: (576px)) {
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: (369px)) {
        @content;
    }
}