.dishes {
    margin-top: 100px;
    
    @include big-desktop {
        margin-top: 72px;
    }
    
    .container {
        max-width: 1240px;
        padding-bottom: 120px;
        border-bottom: 1px solid #CBCBCB;

        @include big-desktop {
            padding-bottom: 85px;
        }
    }

    &__add-favorites {
        @include mobile {
            width: 14px;
            height: 11px;
        }
    }

    &__skill {
        @include big-desktop {
            margin-left: 0px;
        }

        @include mobile {
            font-size: 7px;
        }
    }

    &__title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 75px;

        @include big-desktop {
            font-size: 32px;
            line-height: 18px;
            margin-bottom: 53px;
        }
    }

    &__content {
        gap: 30px;

        @include tablet {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__time {
        margin-right: 6px;

        @include mobile {
            margin-right: 0px;
        }
    }

    &__card {
        padding: 26px 17px 29px 5px;
        background: #FFFFFF;
        border: 1px solid #F4F4F6;
        box-shadow: 6px 82px 41px rgba(229, 229, 229, 0.7);
        border-radius: 34px;
        position: relative;

        &--bottom {
            padding: 0 10px 0 18px;

            @include big-desktop {
                padding: 0 19px 0 16px;
            }
        }

        &--extra {
            @include tablet {
                display: none;
            }
        }

        @include tablet {
            width: 160px;
        }

        @include mobile {
            width: 150px;
            padding: 27px 11px 19px 3px;
        }

    }

    &__add--favorites {
        position: absolute;
        right: 17px;
    }

    &__name {
        font-weight: 600;
        font-size: 23px;
        line-height: 37px;
        color: #323142;

        @include big-desktop {
            font-size: 16px;
            line-height: 26px;
        }

        @include mobile {
            font-size: 14px;
            line-height: 23px;
        }
    }

    &__card--characteristic {
        align-items: center;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #8E97A6;
        margin-bottom: 10px;

        @include big-desktop {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 9px;
        }

        @include mobile {
            font-size: 11px;
            line-height: 15px;
        }
    }

    &__card--add {
        align-items: center;
        justify-content: space-between;
    }

    &__add {
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 39px;
        background: #323142;
        border-radius: 8px;

        @include big-desktop {
            width: 39px;
            height: 35px;
        }

        @include mobile {
            width: 34px;
            height: 30px;
        }
    }
}

.price {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #323142;
    
    span {
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        color: #8E97A6;

        @include big-desktop {
            font-size: 13px;
        }

        @include mobile {
            font-size: 12px;
        }
    }

    @include big-desktop {
        font-size: 18px;
        line-height: 28px;
    }

    @include mobile {
        font-size: 16px;
        list-style: 26px;
    }
}