.restaurant {
    margin-top: 100px;

    @include big-desktop {
        margin-top: 72px;
    }

    .container {
        max-width: 1248px;
        padding-bottom: 120px;
        border-bottom: 1px solid #CBCBCB;

        @include big-desktop {
            padding-bottom: 85px;
        }
    }

    &__content {
        justify-content: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 85px;

        @include big-desktop {
            font-size: 32px;
            line-height: 18px;
            margin-bottom: 60px;
        }
    }

    &__content {
        gap: 30px;
    }

    &__skill {
        margin-left: 32px;

        @include big-desktop {
            margin-left: 23px;
        }
    }
}

.card {
    width: 395px;
    padding-bottom: 17px;
    background: #fff;
    border: 1px solid #F4F4F6;
    box-shadow: 5px 71px 35px rgba(229, 229, 229, 0.7);
    border-radius: 30px;

    @include big-desktop {
        padding-bottom: 12px;
    }

    &__img {
        box-shadow: 5px 71px 35px rgba(50, 49, 66, 0.04);
    }

    &__skill {
        padding: 3px 8px 2px;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        border-radius: 5px;

        @include big-desktop {
            padding: 2px 6px;
            font-size: 9px;
        }
    }

    &__bottom {
        padding: 0 26px 0 34px;

        @include big-desktop {
            padding: 0 19px 0 24px;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 25px;
        line-height: 42px;
        color: #323142;
        grid-column: 1 / 11;

        @include big-desktop {
            font-size: 18px;
            line-height: 29px;
        }
    }

    &__characteristic {
        align-items: center;
        grid-column: 1 / 7;
        color: #8E97A6;

        @include big-desktop {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__time {
        margin-right: 6px;
    }

    &__rating {
        align-items: center;
        svg {
            margin-right: 6px;
        }
    }

    &__favorites {
        width: 40px;
        height: 40px;
        background: #DBD9EE;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        grid-column: 13;

        &:hover {
            background: #c7c4f0;
            transition: all 0.3s ease-in-out;
        }
    }
}

.view--all {
    width: 115.9px;
    margin-left: auto;
    margin-top: 65px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: -0.1px;
    color: #ACADB9;

    svg {
        margin-left: 20px;
    }

    @include big-desktop {
        margin-top: 50px;
        font-size: 16px;
        line-height: 32px;
    }
}