.reviews {
    margin-top: 116px;

    @include big-desktop {
        margin-top: 82px;
    }

    &__title {
        text-align: center;

        @include big-desktop {
            font-size: 32px;
            line-height: 18px;
        }
    }

    &__card {
        max-width: 528px;
        background: #fff;
        border-radius: 20px;

        &--inner {
            padding: 38px 43px;

            @include tablet {
                padding: 30px 33px;
            }
        }

        &--header {
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            @include tablet {
                margin-bottom: 20px;
            }
        }

        &--text {
            font-size: 18px;
            font-style: italic;
            line-height: 26px;
            color: #636363;
            margin-bottom: 32px;

            @include big-desktop {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 28px;
            }

            @include tablet {
                font-size: 12px;
                margin-bottom: 22px;
            }
        }
    }

    &__user-profile {
        align-items: center;
    }
}

.user {
    &__description {
        margin-left: 20px;
    }

    &__name {
        color: #030314;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;

        @include big-desktop {
            font-size: 18px;
        }

        @include tablet {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__with--us {
        color: #5E5D5D;
        font-size: 16px;
        font-family: Quicksand;
        font-weight: 500;
        line-height: 26px;

        @include big-desktop {
            font-size: 15px;
        }

        @include tablet {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.swiper {
    margin-top: 80px;
    height: 400px;

    @include big-desktop {
        margin-top: 56px;
    }
}