.subscribe {
    margin-top: 182px;

    @include big-desktop {
        margin: 150px;
    }

    &__block {
        height: 280px;
        margin: 0 auto;
        padding: 46px 51px 0px 46px;
        border-radius: 30px;
        background: var(--primary-color);
        background-image: url(/img/subscribe_img.png);
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: space-between;
        position: relative;
        
        @include big-desktop {
            height: 240px;
            padding: 26px 51px 0 46px;
        }

        @include for-desktop {
            height: 200px;
            padding: 24px 40px 0 40px;
        }
    }
    
    &__sub {
        &--title {
            grid-column: 1 / 7;
            color: #FFF;
            text-align: center;
            font-size: 70px;
            font-weight: 800;
            text-align: start;

            @include big-desktop {
                font-size: 55px;
            }

            @include for-desktop {
                font-size: 50px;
            }
        }
    }

    &__img {
        width: 194px;
        height: 196px;
        margin-top: 110px;

        @include for-desktop {
            margin-top: 70px;
        }
    }

    &__input {
        position: relative;
        input {
            padding: 21px 200px 22px 21px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 5px 32px 0px rgba(0, 0, 0, 0.10);
            border: none;
            outline: none;
            color: #878787;
            font-size: 16px;
            text-transform: capitalize;

            @include big-desktop {
                padding: 18px 170px 18px 18px;
                font-size: 15px;
            }

            @include for-desktop {
                padding: 16px 165px 16px 16px;
                font-size: 12px;
            }
        }

        &--btn {
            padding: 15px 23px 16px 25px;
            border-radius: 8.002px;
            background: #6C5FBC;
            color: #F7F8FA;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            position: absolute;
            top: 7px;
            right: 6px;
            // right: 84px;

            @include big-desktop {
                top: 3px;
                right: 5px;
                font-size: 14px;
            }

            @include for-desktop {
                top: 4px;
                right: 5px;
                font-size: 12px;
                border-radius: 7px;
                padding: 12px 15px;
            }
        }
    }
}